<%= render 'shared/navbar' %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= render 'task_list', task: @tasks %>
    </div>
  </div>
</div>