<%= render 'shared/navbar' %>

<div class="container mt-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas illum cum inventore accusamus. Tempore cum rerum similique eligendi ratione mollitia sunt, cumque illo architecto obcaecati harum illum sint adipisci fuga.</p>
</div>

