<header class="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1>The Journal App</h1>
        <p>Thoughts Transformed, One Entry at a Time.</p>
        <%= link_to 'Sign Up Here'%>
        <a href="#" class="btn btn-primary">Sign Up Here</a>
      </div>
    </div>
  </div>
</header>

